.row
  .col-md-12
    .page-header
      %h1
        Call for
        = cfp.cfp_type.capitalize
.row
  .col-md-8
    = semantic_form_for(cfp, url: cfp_form_url(cfp, conference),
      html: { multipart: true }) do |f|
      = f.input :cfp_type, as: :hidden
      = f.input :start_date, as: :string,
        input_html: { id: 'registration-period-start-datepicker',
          start_date: conference.start_date,
          end_date: conference.end_date, readonly: 'readonly' }
      = f.input :end_date, as: :string,
        input_html: { id: 'registration-period-end-datepicker',
          readonly: 'readonly' }
      = f.input :description, hint: markdown_hint,
        input_html: { rows: 2, data: { provide: 'markdown-editable' } }
      - if cfp.cfp_type == 'events'
        = f.input :enable_registrations, as: :boolean,
          hint: 'Allow submitters to request registration?'
      - else
        = f.input :enable_registrations, as: :hidden
      - if f.object.prospectus?
        = link_to 'Prospectus', f.object.prospectus.url
      = f.input :prospectus
      %p.text-right
        = f.action :submit, as: :button,
          button_html: { class: 'btn btn-primary' }
