.container
  .row
    .col-md-12.page-header
      %h2
        Tickets
        = link_to 'Back to registration',
                  conference_conference_registration_path(@conference),
                  class: 'btn btn-success pull-right'
      .text-muted
        Your tickets for the conference

    .col-md-12
      - if @physical_tickets.present?
        %table.table.table-bordered.table-striped.table-hover#roles
          %thead
            %th ID
            %th Type
            %th User
          %tbody
            - @physical_tickets.each do |physical_ticket|
              %tr
                %td= physical_ticket.id
                %td= physical_ticket.ticket.title
                %td= physical_ticket.user.name
      - else
        %h5 No Tickets found!
  .row
    .col-md-12
      - if @unpaid_ticket_purchases.any?
        .h3
          You have unpaid tickets!
          %small
            = link_to "Pay them here", conference_ticket_purchases_path
