.row
  .col-md-12.page-header
    %h2
      Ticket Sales
    .text-muted
      Tickets sold for the conference
.row
  .col-md-6
    = render 'donut_chart', title: 'Tickets sold',
      combined_data: @tickets_sold_distribution,
      custom_options: { legend: :right, height: '150px' }
  .col-md-6
    = render 'donut_chart', title: 'Tickets turnover',
      combined_data: @tickets_turnover_distribution,
      custom_options: { legend: :right, height: '150px' }
%br
- if @physical_tickets.any?
  .row
    .col-md-12
      %table.datatable#tickets
        %thead
          %th ID
          %th Type
          %th User
          %th Paid
        %tbody
          - @physical_tickets.each do |physical_ticket|
            = render "physical_ticket", physical_ticket: physical_ticket,
              conference: @conference
- else
  %h5 No Tickets sold!
