.row
  .col-md-12
    .page-header
      %h1
        Events
        = "(#{@events.length})" if @events.any?

        .btn-group.pull-right
          %button.btn.btn-primary{ title: 'Mass import of commercials for events',
            data: { toggle: 'modal', target: '#mass-commercials-modal' } }
            Add Commercials

          - if can? :create, Event
            = link_to 'Add Event',
              new_admin_conference_program_event_path(@conference.short_title),
              class: 'button btn btn-default btn-info'

          - if can? :read, Event
            - @export_formats.each do |export_format|
              = render 'export_menu',
                export_format: export_format,
                conference_id: @conference.short_title

      %p.text-muted
        All the submissions of your speakers

.modal#mass-commercials-modal
  .modal-dialog
    .modal-content
      .modal-header
        %h1 Add commercials to events
        .text-muted
          Upload your file with data in the following format:
          %b Event_ID:Commercial_Link
          , eg.
          %br
          %b 11:https://youtube.com/myvideo

      .modal-body
        = semantic_form_for '',
          url:    mass_upload_commercials_admin_conference_program_path(@conference.short_title),
          method: :post do |f|
          = f.input 'file', as: :file
          .modal-footer
            = f.submit 'Add', class: 'btn btn-primary'
.row
  .col-md-4
    = render 'donut_chart', title: 'Events state',
      data: @event_distribution, colors: @event_distribution_colors,
      custom_options: { legend: :right, height: '150px' }
  .col-md-4
    -# = render 'donut_chart', title: 'Confirmed events scheduled',
    -#   combined_data: @scheduled_event_distribution,
    -#   custom_options: { legend: :right, height: '150px' }
    = render 'donut_chart', title: 'Event average ratings',
      combined_data: @event_rating_distribution,
      custom_options: { legend: :right, height: '150px' }
  .col-md-4
    = render 'donut_chart', title: 'Tracks of confirmed events',
      combined_data: @tracks_distribution_confirmed,
      custom_options: { legend: :right, height: '150px' }
.row
  .col-md-12.table-responsive
    %table.datatable#events{ data: { source: datatable_admin_conference_program_events_path(@conference, format: :json) } }
      %thead
        %th ID
        %th Title
        - if @program.rating_enabled?
          %th Rating
        %th Speaker(s)
        - if @program.languages.present?
          %th Language
        %th{title: 'Event registration required?'} Reg?
        %th Highlight
        %th Type
        %th Track
        %th Difficulty
        %th State
        %th Actions

:javascript
  $(function() {
    $('#events.datatable').DataTable({
      "processing": true,
      "serverSide": true,
      "ajax": {
        "url": $('#events.datatable').data('source'),
        "type": "POST"
      },
      "drawCallback": function(settings) {
        checkboxSwitch("[class='switch-checkbox']");
      },
      "createdRow": function (row, data, index) {
        if (["withdrawn", "canceled", "rejected"].includes(data["state"]["value"])) {
          $(row).addClass("danger");
        } else if (["confirmed"].includes(data["state"]["value"])) {
          $(row).addClass("success");
        } else if (["unconfirmed"].includes(data["state"]["value"])) {
          $(row).addClass("warning");
        }
      },
      "columns": [
        {
          "data": "id",
          "render": function (data, type, row, meta) {
            return '<a href="'+row.url+'">'+data+'</a>';
          }
        },
        { "data": "title" },
        {
          "data": null,
          "render": function (data, type, row, meta) {
            if(row.average_rating) {
              return row.average_rating;
            } else if(row.user_rating) {
              return row.user_rating;
            } else {
              return '<span class="label label-danger">not rated</span>';
            }
          }
        },
        {
          "data": "speakers",
          "render": function (data, type, row, meta) {
            tags = data.map(function(speaker) {
              return '<a href="'+speaker.url+'">'+speaker.name+'</a>';
            });
            return tags.join('<br/>');
          }
        },
        {
          "data": "require_registration",
          "render": {
            _: "dom",
            "sort": "value"
          }
        },
        {
          "data": "highlight",
          "render": {
            _: "dom",
            "sort": "value"
          }
        },
        {
          "data": "event_type",
          "render": {
            _: "dom",
            "sort": "value"
          },
          "createdCell": function (td, cellData, rowData, row, col) {
            if(cellData["value"] == null) {
              $(td).addClass('warning');
            }
          }
        },
        {
          "data": "track",
          "render": {
            _: "dom",
            "sort": "value"
          },
          "createdCell": function (td, cellData, rowData, row, col) {
            if(cellData["value"] == null) {
              $(td).addClass('warning');
            }
          }
        },
        {
          "data": "difficulty_level",
          "render": {
            _: "dom",
            "sort": "value"
          },
          "createdCell": function (td, cellData, rowData, row, col) {
            if(cellData["value"] == null) {
              $(td).addClass('warning');
            }
          }
        },
        {
          "data": "state",
          "render": {
            _: "dom",
            "sort": "value"
          }
        },
        {
          "data": "actions",
          "sortable": false,
          "render": function (data, type, row, meta) {
            links = data.map(function(link) {
              return '<a class="btn btn-primary" href="'+link.url+'">'+link.label+'</a>'
            });
            return '<div class="btn-group-vertical">'+
                   links.join('')+
                   '</div>'
          }
        }
      ]
    });
  });
