.row
  .col-md-12
    .page-header
      %h1
        Speakers
        = "(#{@speakers.length})"
.row
  .col-md-12.table-responsive
= @speakers.map { |speaker| "#{speaker.name} <#{speaker.email}>" }.join(', ')
