.row
  .col-md-12
    .page-header
      %h1
        Event voting queue
      %p.text-muted
        Voting is open until
        = @conference.program.voting_end_date.in_time_zone
.row
  .col-md-12.table-responsive
    %table.datatable#events{ data: { source: datatable_admin_conference_program_events_path(@conference, format: :json, voting: true) } }
      %thead
        %th ID
        %th Title
        - if @program.rating_enabled?
          %th Rating
        %th Speaker(s)
        - if @program.languages.present?
          %th Language
        %th Type
        %th Track
        %th Difficulty

:javascript
  $(function() {
    $('#events.datatable').DataTable({
      "processing": true,
      "serverSide": true,
      "ajax": {
        "url": $('#events.datatable').data('source'),
        "type": "POST"
      },
      "order": [[2, "desc"], [3, "asc"]],
      "drawCallback": function(settings) {
        checkboxSwitch("[class='switch-checkbox']");
      },
      "columns": [
        {
          "data": "id",
          "render": function (data, type, row, meta) {
            console.log(row);
            return '<a href="'+row.url+'">'+data+'</a>';
          }
        },
        { "data": "title" },
        {
          "data": "user_rating",
          "render": function (data, type, row, meta) {
            if(data) {
              return data;
            } else {
              return '<span class="label label-danger">not rated</span>';
            }
          }
        },
        {
          "data": "speakers",
          "sortable": false,
          "render": function (data, type, row, meta) {
            tags = data.map(function(speaker) {
              return '<a href="'+speaker.url+'">'+speaker.name+'</a>';
            });
            return tags.join('<br/>');
          }
        },
        {
          "data": "event_type",
        },
        {
          "data": "track",
        },
        {
          "data": "difficulty_level",
        }
      ]
    });
  });
