.row
  .col-md-12
    .page-header
      %h1
        - if @room.new_record?
          New
        Room
        = @room.name
.row
  .col-md-8
    = semantic_form_for(@room, url: (@room.new_record? ? admin_conference_venue_rooms_path : admin_conference_venue_room_path(@conference.short_title, @room))) do |f|
      = f.input :name, input_html: { autofocus: true }
      = f.input :size, label: 'Capacity', input_html: {size: 5}
      = f.input :url, label: 'URL'
      %p.text-right
        = f.action :submit, as: :button, button_html: { class: 'btn btn-primary' }
