%h3 Designing your Badge
%div.panel.panel-default#badge-form
  %div.panel-body{ style: 'background-color: #eeeeee;' }
    %div.row
      %div.col-xs-3
        = image_tag('lfnw-color-badge.svg', class: 'img-responsive', style: 'margin-bottom: 1em;')
    %div.row
      %div.col-xs-12
        %input.form-control#user_display_name{ type: 'text', name: 'user[display_name]', value: user.display_name, autocomplete: 'off', title: 'Display name', data: { toggle: 'tooltip' } }
        %input.form-control#user_affiliation{ type: 'text', name: 'user[affiliation]', value: user.affiliation, autocomplete: 'off', title: 'Affiliation', data: { toggle: 'tooltip' } }
    %div.row.text-center
      %hr
      %small
        %i
          This is a mockup to help you with filling out the form; event badges may have a different appearance.
