- unless current_user
  = semantic_fields_for @user do |u|
    = u.input :username, input_html: { required: 'required', autocomplete: 'off' }
    = u.input :email, input_html: { required: 'required', autocomplete: 'off' }
    = u.input :password, input_html: { required: 'required', autocomplete: 'off', id: 'password_inline' }
    = u.input :password_confirmation, input_html: { required: 'required', autocomplete: 'off' }
    %hr
    = u.input :legal_name, input_html: { autocomplete: 'off' }
    = render 'devise/shared/badge_form', user: @user
  = render partial: 'devise/shared/openid'
  = render partial: 'devise/shared/help'
- else
  = semantic_fields_for @current_user do |u|
    = u.input :legal_name, input_html: { autocomplete: 'off' }
    = render 'devise/shared/badge_form', user: @current_user
