.container
  .row
    .col-md-12
      .page-header
        %h1 Edit your profile
  .row
    .col-md-12
      = semantic_form_for(@user, url: user_path(@user.id)) do |f|
        = f.input :legal_name, as: :string, hint: 'This is your real full name. Your name must match your government issued identification, in order to attend any LFNW events where alcohol is served.'
        = f.input :display_name, as: :string, hint: 'This is how the other users see you, not your real name'
        .control-label
          = "Avatar"
        = image_tag(@user.picture(48), title: "Yo #{@user.name}!", alt: '', width: 48)
        - if @user.avatar?
          Your avatar has been set by the event administrators.
        - else
          = link_to 'Update your Gravatar', 'https://gravatar.com'
        = f.input :affiliation, as: :string,
          hint: 'This could be a company, a user group, or nothing at all.'
        = f.input :biography, input_html: { rows: 5, data: { provide: 'markdown-editable' } },
          hint: markdown_hint
        You have used
        %span#bio_length
          = @user.biography ? @user.biography.split.length : 0
        words.  Biographies are limited to 150 words.
        %br
        %br
        = f.action :submit, as: :button, label: 'Update', button_html: {class: 'btn btn-primary'}
