- cache [conference, venue, '#splash#header'] do
  #banner
    .container#header
      .row
        .col-md-2.hidden-xs.hidden-sm
          - if conference.picture?
            = image_tag(conference.picture_url,
              class: 'img-responsive img-center',
              id: 'splash-logo')
        .col-sm-12.col-md-8
          %h1.hidden-xs
            - if ['2019', '2020', '2021', '2022'].include?(@conference.short_title)
              = image_tag('LFNW2019.svg', title: 'LinuxFest Northwest', alt: 'LFNW logo', class: 'img-responsive center-block')
            - else
              = conference.title
        - if @title_sponsor
          .col-md-2.hidden-xs.hidden-sm.title-sponsor.thumbnail.text-center
            %a{ href: '#', data: { toggle: 'modal',
              target: "#modal-sponsor-#{@title_sponsor.id}" } }
              %h4.caption  Title Sponsor
              - if @title_sponsor.logo_file_name
                = image_tag get_logo(@title_sponsor),
                  class: ['img-responsive', 'img-sponsor'],
                  style: 'padding: 0 1em 1em 1em;',
                  title: @title_sponsor.name
              - else
                %h2= @title_sponsor.name
      .row
        .col-12
          %h2.text-center
            - if conference.start_date && conference.end_date
              %span.date.text-nowrap
                = date_string(conference.start_date, conference.end_date)
            - if conference.venue
              %span.venue.text-nowrap
                - if venue.website
                  = sanitize link_to(conference.venue.name,
                    conference.venue.website)
                - else
                  = venue.city
                  - if conference.venue.country_name != 'US'
                    &bull;
                    = conference.venue.country_name
      - if @title_sponsor
        .row.hidden-md.hidden-lg.title-sponsor.thumbnail.text-center
          .col-xs-6.col-xs-offset-3
            %a{ href: '#', data: { toggle: 'modal',
              target: "#modal-sponsor-#{@title_sponsor.id}" } }
              %h4.caption  Title Sponsor
              - if @title_sponsor.logo_file_name
                = image_tag get_logo(@title_sponsor),
                  class: ['img-responsive', 'img-sponsor'],
                  title: @title_sponsor.name
              - else
                %h2= @title_sponsor.name

  - unless conference.description.blank?
    %section#about
      .container
        .row
          .col-md-8.col-md-offset-2
            = markdown(conference.description)
