.row
  .col-md-12
    %h2.text-center
      Program Highlights
.row
  .col-md-12
    .row.row-centered.shuffle-deck
      - highlights.each do |event|
        - speaker = event.speakers_ordered.first
        .col-md-4.col-sm-6.col-centered.col-top.highlights
          = link_to(conference_program_proposal_path(conference_id,
            event),
            class: 'thumbnail') do
            = image_tag speaker.picture(100),
              class: ['img-responsive', 'img-circle'],
              title: speaker.name,
              width: 100
            .caption
              %h3.text-center= speaker.name
              - if speaker.affiliation.present?
                %h4.text-center= speaker.affiliation
              %p.text-center= event.title
