= content_for :splash_nav do
  %li.nav-item
    %a.smoothscroll{ href: '#lodging' } Lodging

- cache [venue, lodgings, '#splash#lodging'] do
  %section#lodging
    .container
      .row
        .col-md-12.text-center
          %h2
            Where to stay
            - if venue
              in
              = venue.city
          %p.lead
            We recommend the following accommodations for your visit.

      .row.row-centered
        - lodgings.each do |lodging|
          .col-md-4.col-sm-6.col-centered.col-top
            .thumbnail
              - if lodging.picture?
                - if lodging.website_link.present?
                  = link_to(lodging.website_link, class: 'thumbnail') do
                    = image_tag lodging.picture.large.url,
                      class: 'img-responsive img-lodging'
                - else
                  = image_tag lodging.picture.large.url,
                    class: 'img-responsive img-lodging'
              - else
                %p.text-center
                  - if lodging.website_link.present?
                    = link_to(lodging.website_link, class: 'thumbnail') do
                      %i.fa.fa-home.fa-5x
                  - else
                    %i.fa.fa-home.fa-5x
              .caption
                %h3.text-center
                  = lodging.name
                - if lodging.description.present?
                  = markdown(lodging.description)
