= content_for :splash_nav do
  %li.nav-item
    %a.smoothscroll{ href: '#tickets' } Tickets

- cache [conference, tickets, '#splash#tickets'] do
  %section#tickets
    .container
      .row
        .col-md-12.text-center
          %h2
            Support
            = conference.title
      .row.row-centered
        - tickets.each do |ticket|
          .col-md-3.col-sm-3.col-centered.col-top
            = link_to(conference_tickets_path(conference.short_title),
              class: 'thumbnail') do
              .caption
                %h3.text-center.word_break
                  = ticket.title
                .word_break
                  = markdown(ticket.description)
                %button.btn-block.btn.btn-lg.btn-success
                  %i.fa.fa-ticket.fa-fw
                  = humanized_money_with_symbol(ticket.price)
