- content_for :head do
  %meta{ property: "og:title", content: @conference.title }
  %meta{ property: "og:site_name", content: (ENV['OSEM_NAME'] || 'OSEM') }
  %meta{ property: "og:description", content: @conference.description }
  %meta{ property: "og:url", content: conference_url(@conference.short_title) }
  %meta{ property: "twitter:title", content: (@conference.title) }
  %meta{ property: "twitter:description", content: @conference.description }
  - if @conference.picture?
    %meta{ property: "og:image", content: @image_url }
    %meta{ property: "og:image:secure_url", content: @image_url }
    %meta{ property: "twitter:card", content: "summary_large_image" }
    %meta{ property: "twitter:image", content: @image_url }
  - else
    %meta{ property: "twitter:card", content: "summary" }

= content_for :title do
  = @conference.title


= content_for :splash_nav do
  - if @conference.contact.blog?
    %li.nav-item
      = link_to 'Blog', @conference.contact.blog

  - if @conference.contact.forum?
    %li.nav-item
      = link_to 'Forum', @conference.contact.forum

#splash
  - if @conference.code_of_conduct.present?
    = render 'code_of_conduct', organization: @conference.organization

  -# header/description
  = render 'header', conference: @conference, venue: @conference.venue

  -# calls for content, or program
  - if @conference.splashpage.include_cfp
    = render 'call_for_content', conference: @conference,
      call_for_events: @call_for_events, call_for_tracks: @call_for_tracks,
      call_for_booths: @call_for_booths,
      event_types: @event_types, tracks: @track_names

  - if @conference.splashpage.include_program
    = render 'program', conference: @conference, tracks: @tracks,
      highlights: @highlights, booths: @booths

  -# attendance/registration
  - if @conference.splashpage.include_registrations
    - if @conference.registration_open?
      = render 'registration', conference: @conference,
        registration_period: @conference.registration_period,
        tickets: @tickets, conference_id: @conference.short_title
  - if @conference.splashpage.include_tickets && @tickets.any?
    = render 'tickets', conference: @conference, tickets: @tickets

  -# geo
  - if @conference.splashpage.include_venue && @conference.venue
    = render 'venue', conference: @conference, venue: @conference.venue,
      commercial: @conference.venue.commercial
  - if @conference.splashpage.include_lodgings && @lodgings.any?
    = render 'lodging', venue: @conference.venue, lodgings: @lodgings

  -# sponsorship
  - if @conference.splashpage.include_sponsors
    = render 'sponsors', conference: @conference,
      sponsorship_levels: @sponsorship_levels,
      sponsors: @sponsors


  -# footer
  - if @conference.splashpage.include_social_media
    - if @conference.contact.has_social_media?
      = render 'social_media', contact: @conference.contact
  = render 'footer'
