- cache [@conference.program, event, event_schedule, :listitem] do
  .panel.panel-default.event-panel{ onClick: 'eventClicked(event, this);', "data-url" => "#{url_for(conference_program_proposal_path(@conference.short_title, event.id))}" }
    .panel-body
      - event.speakers_ordered.each do |speaker|
        = image_tag speaker.picture(48),
          class: "img-circle pull-right all-speaker-pic",
          alt: speaker.name,
          title: speaker.name,
          width: 48
      %p
        = canceled_replacement_event_label(event, event_schedule)
        = replacement_event_notice(event_schedule)

      %span.h3
        = event.title
        %br
        %small
          = event.subtitle
      %h4
        presented by #{event.speaker_names}
      %p
        = markdown(truncate(event.abstract, length: 400))
        = link_to 'more', conference_program_proposal_path(@conference.short_title, event.id) if event.abstract.length > 400
      - if event_schedule.present?
        %span.track
          %span.fa.fa-clock-o{ title: 'time' }
          %span.label{ style: "background-color: grey" }
            = event_schedule.start_time.strftime('%H:%M')
            \-
            = event_schedule.end_time.strftime('%H:%M')
        %span.track
          %span.fa.fa-map-marker{ title: 'room' }
          - if event_schedule.room.url.present?
            %span.label{ style: "background-color: #e8b447;" }
              = link_to event_schedule.room.name, event_schedule.room.url, target: "_blank"
          - else
            %span.label{ style: "background-color: grey" }
              = event_schedule.room.name
      - if event.track
        %span.track
          %span.fa.fa-road{ title: 'track' }
          %span.label{ style: colorize_css(event.track.color) }
            = event.track.name
      - if event.difficulty_level
        %span.track
          %span.fa.fa-level-up{ title: 'difficulty level' }
          %span.label{ title: "Difficulty: #{event.difficulty_level.title}",
          style: colorize_css(event.difficulty_level.color) }
            = event.difficulty_level.title
