- cache [@conference, :schedule, :kiosk, event_schedule, :next] do
  - event = event_schedule.event
  - start_time = event_schedule.start_time.strftime('%l:%M%P')
  - end_time = event_schedule.end_time.strftime('%l:%M%P')
  - speaker_names = event.speakers.collect(&:name)
  - room = event_schedule.room
  - track = event.track
  - difficulty = event.difficulty_level
  %tr
    %td.title.overflow{ colspan: 5 }
      %b
        - if event.is_highlight
          = fa_icon 'star'
        = event.title
      = event.subtitle
  %tr.text-nowrap
    %td.speaker.overflow
      %i= speaker_names.to_sentence
    %td.time
      = fa_icon('clock-o fw', text: "#{start_time} - #{end_time}")
    %td.room
      = fa_icon('map-marker fw', text: room.name)
    - if track
      %td.track{ style: colorize_css(track.color) }
        = fa_icon('road fw', text: track.short_name)
    - if difficulty
      %td.difficulty{ style: colorize_css(difficulty.color) }
        = fa_icon('level-up fw', text: difficulty.title)
