%tr
  %td.room
    %span.fa.fa-map-marker
    = schedule.room.name
  %td.description
    - if schedule.event.is_highlight?
      %span.fa.fa-star
    %b= schedule.event.speakers.collect(&:name).join(", ") + ": "
    = schedule.event.title
    %small
      %i= schedule.event.subtitle
  %td.difficulty
    - if schedule.event.difficulty_level&.title
      %span.fa.fa-level-up
      = schedule.event.difficulty_level&.title
  %td.track
    - if schedule.event.track&.short_name
      %span.fa.fa-road
      = schedule.event.track&.short_name
