- current_time = nil
%table.events{class: current_date.strftime("%A").downcase }
  %thead
    %tr
      %th.date{colspan: 4}= current_date.strftime("%A, %m/%d/%Y")
  - events_schedules.each do |schedule|
    - if schedule.start_time.to_date == current_date
      - if schedule.start_time != current_time
        - current_time = schedule.start_time
        %thead
          %tr
            %th.time{colspan: 4}= current_time.strftime("%I:%M %P")
      = render 'print_item', schedule: schedule
  %tr
    %td.legend{colspan: 4}
      %span
        %i Legend:
      %span.fa.fa-map-marker
      Room
      %span.fa.fa-star
      Highlighted session
      %span.fa.fa-level-up
      Difficulty
      %span.fa.fa-road
      Track
