%div{ role: "tabpanel" }
  / Nav tabs
  %ul.nav.nav-tabs{ role: "tablist" }
    %li{ class: "program #{ 'active' if active == 'program' }", role: "presentation" }
      = link_to('Event list', events_conference_schedule_path(@conference.short_title))
    %li{ class: "schedule #{ 'active' if active == 'schedule' }", role: "presentation" }
      = link_to('Scrolling schedule', conference_schedule_path(@conference.short_title))
