- current_date = nil
- current_time = nil
- @events_schedules.each do |schedule|
  - if schedule.start_time.to_date != current_date
    = schedule.start_time.strftime("\n%A, %m/%d/%Y")
    - current_date = schedule.start_time.to_date
  - if schedule.start_time != current_time
    = schedule.start_time.strftime("\n%I:%M %P")
    - current_time = schedule.start_time

  = raw(CGI.unescapeHTML("#{schedule.room.name}\t#{raw schedule.event.title} by #{schedule.event.speakers.collect(&:name).join(", ")}\t#{schedule.event.difficulty_level&.title}\t#{schedule.event.track&.short_name}"))
