- content_for :head do
  %meta{ 'http-equiv' => 'refresh', content: 300 }

- content_for :nav do
  %ul.nav.navbar-nav.navbar-right
    %li.navbar-text
      Refreshed at
      = Time.zone.now.strftime('%l:%M %P')
.container-fluid
  .row
    .col.col-xs-4
      %h2 Now!
      %table.table.table-condensed.small
        - @now_event_schedules.each do |event_schedule|
          = render 'kiosk_event_now',
            event_schedule: event_schedule,
            condensed: true
    .col.col-xs-8
      - current_day = @current_datetime.to_date
      %h2 Next...
      %table.table.table-condensed
        - @next_event_schedules.each do |event_schedule|
          - if event_schedule.start_time.to_date != current_day
            - current_day = event_schedule.start_time.to_date
            %tr
              %td{ colspan: 5 }
                %h3= current_day.strftime('%A, %v')
          = render 'kiosk_event_next',
            event_schedule: event_schedule
