.sheet
  .row
    .page#back
      .row
        .column.ads#back-ads
          = image_tag("#{@conference.short_title}-schedule-ad-3.png", class: "ad ad3")
          %section#social{style: "flex-order: 7;"}
            %h3 Connect with us!
            - contact = @conference.contact
            - if contact.blog?
              %div
                %span.fa.fa-rss-square
                = contact.blog
            - if contact.facebook?
              %div
                %span.fa.fa-facebook-square
                = contact.facebook
            - if contact.twitter?
              %div
                %span.fa.fa-twitter
                = contact.twitter
            - if contact.instagram?
              %div
                %span.fa.fa-instagram
                = contact.instagram
            - if contact.mastodon?
              %div
                %span.fa.icon-mastodon
                = contact.mastodon
            - if contact.youtube?
              %div
                %span.fa.fa-youtube
                = contact.youtube
            - if contact.email?
              %div
                %span.fa.fa-envelope-o
                = contact.email
          = image_tag("#{@conference.short_title}-schedule-ad-4.png", class: "ad ad4")
        .column#content-blocks
          %section
            %h3 Exhibitors - Settlemeyer Hall
            = image_tag("#{@conference.short_title}-booths-map.svg")
          - if @conference.code_of_conduct.present?
            %hr
            %section
              %h3 Code of Conduct
              %div#code-of-conduct= markdown @conference.code_of_conduct
    .page#cover
      .column{style: "justify-content: flex-start;"}
        %h3
          Bellingham Linux Users Group &amp; Bellingham Technical College
          %i present
          …
        %h3 &nbsp;
        %h1
          = image_tag("#{@conference.short_title}-schedule-header.svg")
        %hr
        %h2 Sponsored by
        .row#sponsors
          - listed_sponsors = []
          - @sponsorship_levels.each do |sponsorship_level|
            - sponsorship_level.sponsors.each do |sponsor|
              - unless listed_sponsors.include? sponsor.name
                = image_tag(sponsor.picture, class: "sponsor-logo-s#{sponsorship_level.position}")
                - listed_sponsors << sponsor.name
        %hr
        %h2
          = date_string(@conference.start_date, @conference.end_date)
          &bull;
          = @conference.venue.name
.sheet
  .row
    .column#left-schedule
      - @dates[0..-2].each do |current_date|
        = render 'print_day', current_date: current_date, events_schedules: @events_schedules
      %div#inner-banner
        %small Live streaming at
        https://live.lfnw.org
    .column.ads#inside-ads
      = image_tag("#{@conference.short_title}-schedule-ad-1.png", class: "ad ad1")
      %section#inner-logo
      = image_tag("#{@conference.short_title}-schedule-ad-2.png", class: "ad ad2")
    .column#right-schedule
      - current_date = @dates[-1]
      = render 'print_day', current_date: current_date, events_schedules: @events_schedules
      = image_tag("simple_map.png", id: "map")

:scss

  $pickled-bluewood: #304858;
  $steel-blue: #3e7f9e;
  $tulip-tree: #e9b547;
  $asparagus: #77954a;

  @page {
    size: tabloid landscape;
    margin: 0.25in;
  }

  .sheet {
    width: 16.5in;
    height: 10.5in;
    padding: 0;
    margin: 0;
    page-break-inside: avoid;
    page-break-after: always;
    overflow: hidden;
  }

  .page {
    width: 8in;
    height: 10.5in;
    padding: 0;
    margin: 0;
    page-break-inside: avoid;

    &:nth-child(odd) {
      float: left;
    }
    &:nth-child(even) {
      float: right;
    }
  }

  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Ubuntu";
    font-weight: bold;
    margin: 0;
    color: $steel-blue;
  }

  hr {
    width: 100%;
    min-height: 0.25in;
    max-height: 0.25in;
    border: 0;
    background-image: image-url("treeline.png");
    background-size: contain;
    background-repeat-x: repeat;
    background-position: center center;
    margin: 0.125in 0;
    padding: 0;
  }

  #cover {
    h1 {
      font-size: 72pt;
      img {
        height: 3.5in;
      }
    }

    .row#sponsors {
      overflow: hidden;
      align-items: center;
      align-content: space-evenly;
      justify-content: space-evenly;
      flex-grow: 2;
    }
  }

  .sponsor-logo-s1 {
    max-height: 1.5in;
    max-width: 3in;
    object-fit: contain;
    padding: 0.125in;
    box-sizing: border-box;
  }

  .sponsor-logo-s2, .sponsor-logo-s3 {
    max-height: 1in;
    max-width: 2in;
    object-fit: contain;
    padding: 0.125in;
    box-sizing: border-box;
  }

  .sponsor-logo-s4 {
    max-height: 0.75in;
    max-width: 1.5in;
    object-fit: contain;
    padding: 0.125in;
    box-sizing: border-box;
  }

  .sponsor-logo-s5 {
    height: 0.5in;
    max-width: 1in;
    object-fit: contain;
    padding: 0.0675in;
    box-sizing: border-box;
  }

  table.events {
    width: 6.375in !important;
    max-width: 6.375in;
    display: block;
    font-family: "Liberation Serif";
    font-size: 8pt;
    border-collapse: collapse;
    border: none;
    margin: 0;
    padding: 0;

    .fa-star {
      color: $tulip-tree;
    }

    tr {
      &:nth-child(even) {
        background-color: #f7f7f0;
      }
    }

    th {
      text-align: left;
      &.date {
        font-size: 150%;
      }
      &.time {
        padding-top: 0.2em;
        font-size: 125%;
      }
    }

    td {
      white-space: nowrap;
      overflow: hidden;
      padding: 0.09em 0;
      margin: 0;
      &.room {
        width: 0.9in;
        min-width: 0.9in;
        max-width: 0.9in;
      }
      &.description {
        width: 4.325in;
        min-width: 4.325in;
        max-width: 4.325in;
        text-overflow: ellipsis;

      }
      &.difficulty {
        width: 0.5in;
        min-width: 0.5in;
        max-width: 0.5in;
      }
      &.track {
        width: 0.65in;
        min-width: 0.65in;
        max-width: 0.65in;
      }
    }

    .legend {
      text-align: center;

      span+span {
        margin-left: 1em;
      }
    }
  }

  .column.ads {
    background-color: dedede;
    justify-content: space-between;
    width: 3.25in;
  }

  .ad {
    display: inline-block;
    object-fit: contain;
    width: 3.25in;
    min-width: 3.25in;
    max-width: 3.25in;
  }

  .column#content-blocks {
    justify-content: space-between;
    width: 4.5in;
    margin-left: 0.25in;

    section {
      max-width: 4.5in;
      object-fit: contain;
      text-align: center;
      display: inline-block;
    }

    h3 {
      margin: 0.125in 0;
    }
  }

  section#social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: sans-serif;

    div {
      font-size: 10pt;
    }

    h3 {
      margin: 0.125in 0;
      align-self: center;
    }
  }

  section#inner-logo {
    min-width: 2.75in;
    max-width: 2.75in;
    min-height: 1.25in;
    max-height: 1.25in;
    display: inline-block;
    object-fit: contain;
    text-align: center;
    background-image: image-url("LFNW2019.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  #code-of-conduct {
    p {
      text-align: justify !important;
      font-size: 7pt;
      font-family: "Liberation Serif";
      margin: 0 0 0.5em 0;
    }
  }

  #inner-banner {
    width: 4.5in;
    padding: 0;
    margin: 0;
    font-family: "Ubuntu";
    font-weight: bold;
    text-align: center;
    font-size: 24pt;
    color: $steel-blue;

    img {
      height: 0.75em;
      vertical-align: baseline;
    }
  }

  img#map {
    width: 6.5in;
  }

:javascript
  document.addEventListener('DOMContentLoaded', function(){
    window.print();
  });
