.container
  .row
    .col-md-12
      .page-header
        %h1
          Tickets
      %p.lead
        Please choose your tickets for
        %strong
          = @conference.title
      = form_tag(conference_ticket_purchases_path, method: :post) do |f|
        %table.table.table-hover
          %thead
            %tr
              %th Ticket
              - if @conference.tickets.for_registration.any?
                %th Registration Ticket
              %th Quantity
              %th Price
              %th Total
          %tbody
          - @conference.tickets.visible.each do |ticket|
            = render 'ticket', f: f, ticket: ticket
          %tr
            %td
            - if @conference.tickets.for_registration.any?
              %td
            %td
            %td.col-sm-1.col-md-1.text-center
              %h4
                Total
            %td.col-sm-1.col-md-1.text-center
              %h4
                %strong
                  = @conference.tickets.first.price.symbol
                  %span{ id: 'total_price' }
                    0
        .pull-right
          .btn-group-vertical
            = button_tag(type: 'submit', class: 'btn btn-success btn-lg') do
              Continue
              %i.fa.fa-shopping-cart
            = link_to 'Back to registration',
              conference_conference_registration_path(@conference.short_title),
              class: 'btn btn-default btn-sm'
  - if @conference.tickets.for_registration.any?
    .row
      .col-md-13
        %p.text-muted.text-center
          %small
            Getting a registration ticket is mandatory. Your participation
            will not be valid until you get a registration ticket.
