.row
  .col-md-12
    .page-header
      .btn-group.pull-right
        .btn-group
          %button.btn.btn-success.dropdown-toggle{ data: { toggle: 'dropdown' } }
            Import from...
            %span.caret
          %ul.dropdown-menu{ role: 'menu' }
            - @conferences.each do |conference|
              - if can?(:show, conference) && conference.id != @conference.id
                %li= link_to(conference.short_title, import_admin_conference_sponsors_path(@conference.short_title, from: conference.short_title), method: :post)
      %h1 Sponsors
      %p.text-muted
        Organizations supporting your conference
- if @conference.sponsors.any?
  .row
    .col-md-12
      %table.table.table-hover#sponsors
        %thead
          %th Logo
          %th Name
          %th Description
          %th URL
          %th Level
          %th Actions
        %tbody
          - @conference.sponsors.each do |sponsor|
            %tr
              %td
                - if sponsor.picture?
                  = image_tag(sponsor.picture.thumb.url, width: '20%')
              %td
                = sponsor.name
              %td
                = truncate(markdown(sponsor.description))
              %td
                = sponsor.website_url
              %td
                = sponsor.sponsorship_level.title
              %td
                .btn-group
                  = link_to 'Edit', edit_admin_conference_sponsor_path(@conference.short_title, sponsor),
                  method: :get, class: 'btn btn-primary'
                  = link_to 'Delete', admin_conference_sponsor_path(@conference.short_title, sponsor),
                  method: :delete, class: 'btn btn-danger', data: { confirm: "Do you really want to delete the sponsor #{sponsor.name}?" }
.row
  .col-md-12
    .btn-group.pull-right
      = link_to 'Add Sponsor',
        new_admin_conference_sponsor_path(@conference.short_title),
        class: 'btn btn-primary'
      = link_to 'Create Invoice in PayPal',
        'https://www.paypal.com/invoice/create',
        target: '_blank',
        class: 'btn btn-info'
