.row
  .col-md-12
    .page-header
      %h1
        - if @ticket.new_record?
          New
        = @ticket.title
        Ticket
.row
  .col-md-8
    = semantic_form_for(@ticket, url: (@ticket.new_record? ? admin_conference_tickets_path : admin_conference_ticket_path(@conference.short_title, @ticket))) do |f|
      = f.input :title, input_html: { autofocus: true }
      = f.input :description, input_html: { rows: 5, data: { provide: 'markdown-editable' } }
      = f.input :price
      = f.input :price_currency, as: :select, class: 'form-control', collection: ['USD', 'EUR', 'GBP', 'INR', 'CNY', 'CHF'], include_blank: false
      = f.input :registration_ticket, hint: 'A registration ticket is with which user register for the conference.'
      = f.input :materials, as: :select, collection: (@ticket.materials || []),
        include_blank: false, include_hidden: false,
        input_html: { class: 'select-help-toggle', multiple: true },
        hint: 'A list of items the purchaser is entitled to.'
      = f.input :badge_ribbon, hint: 'Decorate a user\'s badge with a ribbon for having this ticket (leave blank to leave off of ticket).'
      .form-group
        = f.input :visible, hint: 'Only visible tickets are available to registrants. Non-visible tickets can only be managed by Admins.'
        = f.input :rank, hint: 'The order tickets are sorted in by default.'
      %p.text-right
        = f.action :submit, as: :button, button_html: { class: 'btn btn-primary' }

:javascript
  $(document).ready(function() {
    $('#ticket_materials').selectize({
      create: function(input) {
          return {
              value: input,
              text: input
          }
      }
    })
  });
