.row
  .col-md-12
    .page-header
      .btn-group.pull-right
        = link_to(new_admin_conference_ticket_path, class: 'btn btn-success') do
          = fa_icon('plus', class: 'fa-fw', text: 'New ticket')
        .btn-group
          %button.btn.btn-success.dropdown-toggle{ data: { toggle: 'dropdown' } }
            Import from...
            %span.caret
          %ul.dropdown-menu{ role: 'menu' }
            - @conferences.each do |conference|
              - if can?(:show, conference) && conference.id != @conference.id
                %li= link_to(conference.short_title, import_admin_conference_tickets_path(@conference.short_title, from: conference.short_title), method: :post)
        = link_to(admin_conference_physical_tickets_path, class: 'btn btn-info') do
          = fa_icon('list', class: 'fa-fw', text: 'Tickets sold')
        = link_to(materials_admin_conference_tickets_path(@conference.short_title), class: 'btn btn-info') do
          = fa_icon('file-text-o', class: 'fa-fw', text: 'Materials list')
      %p.text-muted
        Tickets to get during registration
%br
- if @conference.tickets.any?
  .row
    .col-md-12
      %table.datatable#tickets
        %thead
          %th Title
          %th Price
          %th Sold
          %th Turnover
          %th
            %abbr{title: 'Registration'} Reg
            Ticket
          %th Materials
          %th Badge Ribbon
          %th Visible?
          %th Rank
          %th Updated at
          %th Actions
        %tbody
          - @conference.tickets.each do |ticket|
            %tr
              %td
                = link_to(admin_conference_ticket_path(@conference.short_title, ticket.id)) do
                  = ticket.title
              %td
                = humanized_money_with_symbol ticket.price
              %td
                = ticket.tickets_sold
              %td
                = humanized_money_with_symbol ticket.tickets_turnover_total
              %td
                = ticket.registration_ticket? ? 'Yes' : 'No'
              %td
                %ul
                  - ticket.materials&.each do |material|
                    %li= material
              %td
                = ticket.badge_ribbon
              %td
                = ticket.visible? ? 'Yes' : 'No'
              %td
                = ticket.rank
              %td
                = ticket.updated_at
              %td
                .btn-group
                  = link_to 'Edit', edit_admin_conference_ticket_path(@conference.short_title, ticket.id),
                  method: :get, class: 'btn btn-primary'
                  = link_to 'Delete', admin_conference_ticket_path(@conference.short_title, ticket.id),
                  method: :delete, class: 'btn btn-danger',
                  data: { confirm: "Do you really want to delete the Ticket for #{ticket.title}? Attention: All ticket purchases will be also deleted!" }
