.row
  .col-md-12
    .page-header
      %h1
        %div{"data-placement" => "left", "data-toggle" => "tooltip", title: @ticket.description}
          = @ticket.title
          Ticket
          %small
            = humanized_money_with_symbol @ticket.price
        = link_to 'Edit Ticket', edit_admin_conference_ticket_path, class: 'btn btn-primary pull-right'
        - if can? :give, Ticket
          .pull-right
            = link_to 'Give a Ticket', '#',
              data: { toggle: 'modal', target: "#modal-give-ticket-#{@ticket.id}" },
              class: 'button btn btn-default btn-info'

      %p.text-muted
        People who bought this ticket
.row
  .col-md-12
    %table.datatable
      %thead
        %th
          %abbr{ title: 'TicketPurchase ID(s)' } #
        %th Name
        %th Quantity
        %th E-Mail
        %th Affiliation
        %th Paid
      %tbody
        - @buyers.each do |buyer|
          - purchases = buyer.ticket_purchases.select{|p| p.ticket_id == @ticket.id}
          %tr
            %td
              = purchases.collect(&:id).join(' ')
            %td
              = link_to buyer.name, admin_user_path(buyer)
            %td
              = purchases.sum(&:quantity)
            %td
              = mail_to buyer.email
            %td
              = buyer.affiliation
            %td
              = "#{purchases.sum{|p| p.paid ? p.quantity : 0 }}/#{purchases.sum(&:quantity)}"

- content_for :modals do
  .modal.fade{ id: "modal-give-ticket-#{@ticket.id}" }
    .modal-dialog
      .modal-content
        = semantic_form_for(@ticket.ticket_purchases.new,
          url: give_admin_conference_ticket_path(@conference, @ticket)) do |f|
          .modal-header
            %button.close{ data: { dismiss: 'modal' } }
              %i.fa.fa-close
            %h3.modal-title
              Give a
              = @ticket.title
              Ticket
          .modal-body
            = user_selector_input(:user, f, '', false)
          .modal-footer
            = f.action :submit, as: :button, button_html: { class: 'btn btn-primary' }

:javascript
  $(document).ready(function() {
    $('#ticket_purchase_user_id').selectize({})
  });
