.container
  .row
    .col-md-12
      .page-header
        .btn-group.pull-right
          %button.btn.btn-info.dropdown-toggle{ data: { toggle: 'dropdown' } }
            Export PDF
            %span.caret
          %ul.dropdown-menu{ role: 'menu' }
            %li= link_to 'All Answers',
              admin_conference_question_path(@conference, @question, format: :pdf)
            - @answers.each do |answer|
              %li= link_to answer.title, admin_conference_question_path(@conference,
                @question, answer_id: answer.id, format: :pdf)
        %h1= @question.title
        = @summary.collect{ |answer, count| "#{answer.title} (#{count})"}.to_sentence

  .row
    .col-md-12

      %table.datatable#question_users
        %thead
          %th Index
          %th Name
          %th Email
          %th Answer
        %tbody
          - @registrations.each_with_index do |registration, index|
            - user = registration.user
            %tr
              %td= index + 1
              %td
                = link_to admin_user_path(user) do
                  = user.name.present? ? user.name : user.username
              %td= user.email
              %td= registration.qanswers.first.answer.title
