- unless @conference.code_of_conduct.blank?
  - code_of_conduct_link = link_to 'Code of Conduct', '#',
    data: { toggle: 'modal', target: '#modal-code-of-conduct'}
  - if @registration.accepted_code_of_conduct
    = fa_icon 'check-square-o'
    I have read and accepted the
    = code_of_conduct_link
  - else
    = f.inputs 'Code of Conduct' do
      = markdown(@conference.organization.code_of_conduct)
      = f.input :accepted_code_of_conduct,
        label: 'I have read and accept the Code of Conduct',
        required: true

- if @conference.program.events.with_registration_open.any? || @registration.events.any?
  = f.inputs 'Pre-registration required for the following:' do

    - @registration.events_ordered.each do |event|
      %label
        = hidden_field_tag "registration[event_ids][]", nil
        = check_box_tag "registration[event_ids][]", event.id, event.registrations.include?(@registration)
        = event.title
        .text-muted
          = registered_text(event)
          - if event.scheduled?
            (Scheduled on: #{event.time.to_date})
      %br

= render 'conferences/code_of_conduct', organization: @conference.organization
