= semantic_form_for(@organization, url: (@organization.new_record? ? admin_organizations_path : admin_organization_path(@organization))) do |f|
  = f.inputs name: 'Organization details' do
    = f.input :name, as: :string, required: true
    = f.input :description, as: :text,
      input_html: { rows: 10, data: { provide: 'markdown-editable' } },
      hint: markdown_hint,
      placeholder: 'Decribe about your organization...'
    = f.input :code_of_conduct, as: :text,
      input_html: { rows: 10, data: { provide: 'markdown-editable' } },
      hint: markdown_hint,
      placeholder: 'Rules governing behavior and dispute resolution...'
    = image_tag f.object.picture.thumb.url if f.object.picture?
    - if @organization.picture?
      = image_tag(@organization.picture.thumb.url, width: '20%')
    = f.input :picture, as: :file
  %p.text-right
    - if @organization.new_record?
      = f.submit 'Create Organization', class: 'btn btn-success'
    - else
      = f.submit 'Update Organization', class: 'btn btn-success'
