- tracks = @program.tracks.confirmed.cfp_active
%p
  - if @program.event_types.any?
    You can submit proposals for
    = "#{event_types_sentence(@conference)}."
  - if tracks.any?
    - if tracks.count == 1
      Proposals should fit in the track
    - else
      Proposals should fit in one of the
      = "#{pluralize(@program.tracks.confirmed.cfp_active.count, 'track')}:"
    = "#{tracks(@conference)}."
  - if @program.cfp_open?
    The submission period has begun
    %em.notranslate
      = @program.cfp.start_date.strftime('%A, %B %-d. %Y')
    and closes
    %em.notranslate
      = @program.cfp.end_date.strftime('%A, %B %-d. %Y.')
    That means you have
    %b.notranslate= pluralize(@program.cfp.remaining_days, 'day')
    left!
    Remember
    %span.notranslate
      = @conference.title
    will only be as good as the content you present. Submit early, submit often!
  -else
    The submission period is closed now.
