- progress_status = event.progress_status
%ul.list-unstyled
  - if can? :create, @conference.registrations.new
    %li{'class'=>class_for_todo(progress_status['registered'])}
      %span{'class'=>icon_for_todo(progress_status['registered'])}
        - if progress_status['registered']
          Speaker(s) registered to the conference
        - else
          = link_to 'Speaker(s) not registered to the conference', new_conference_conference_registration_path(event.program.conference.short_title)
  %li{'class'=>class_for_todo(progress_status['biographies'])}
    %span{'class'=>icon_for_todo(progress_status['biographies'])}
      - if progress_status['biographies']
        Speakers have filled out their biographies
      - elsif current_user.biography.blank? && event.speakers.include?(current_user)
        = link_to 'Fill out your biography', edit_user_path(current_user)
      - else
        Speakers' biographies missing
  %li{'class'=>class_for_todo(progress_status['subtitle'])}
    %span{'class'=>icon_for_todo(progress_status['subtitle'])}
      = link_to 'Add a subtitle', edit_conference_program_proposal_path(event.program.conference.short_title, event)
  - unless progress_status['track'].nil?
    %li{'class'=>class_for_todo(progress_status['track'])}
      %span{'class'=>icon_for_todo(progress_status['track'])}
        = link_to 'Add a track', edit_conference_program_proposal_path(event.program.conference.short_title, event)
  %li{'class'=>class_for_todo(progress_status['difficulty_level'])}
    %span{'class'=>icon_for_todo(progress_status['difficulty_level'])}
      = link_to 'Add a difficulty level', edit_conference_program_proposal_path(event.program.conference.short_title, event)
