!= raw(CSV.generate_line ['id','Legal Name','Display Name','username','Email','Category'])
:ruby
  @registrations.each do |registration|
    ribbons = (@ticket_ids[registration.user_id]&.collect{|n| @tickets[n].badge_ribbon }) || []
    ribbons << ('Speaker' if @speaker_ids.include?(registration.user_id))
    ribbons = ribbons.compact.uniq.collect(&:downcase)
    category = case
    when ribbons.include?('speaker')
      'speaker (green)'
    when ribbons.include?('sponsor')
      'sponsor (orange)'
    when ribbons.include?('supporter')
      'supporter (yellow)'
    when registration.id <= 2275
      '(pink)'
    else
      ''
    end

    haml_io.write CSV.generate_line([
      registration.id,
      registration.user.legal_name,
      registration.user.display_name,
      registration.user.username,
      registration.user.email,
      category
    ])
  end
