.row
  .col-md-12
    .page-header
      %h1
        Registrations
        = "(#{@registrations.length})" if @registrations
        .btn-group.pull-right
          - if can? :read, Registration
            %button.btn.btn-info.dropdown-toggle{ data: { toggle: 'dropdown' } }
              Badge list
              %span.caret
            %ul.dropdown-menu{ role: 'menu' }
              %li= link_to 'CSV', admin_conference_registrations_path(@conference, format: :csv, order: 'legal')
              %li= link_to 'XLSX', admin_conference_registrations_path(@conference, format: :xlsx, order: 'legal')
              %li= link_to 'PDF (slow)', admin_conference_registrations_path(@conference, format: :pdf, order: 'legal')
      %p.text-muted
        All the people who registered to your event
  .col-md-4
    = render 'donut_chart', title: 'Affiliation',
      combined_data: @affiliation_distribution
  - unless @conference.pending?
    .col-md-4
      = render 'donut_chart', title: 'Attended registrations',
        combined_data: @registration_distribution
.row
  .col-md-12
    %div.margin-event-table
      %table.datatable#registrations{ data: { source: admin_conference_registrations_path(conference_id: @conference, format: :json) } }
        %thead
          %tr
            %th{ width: '0' } User ID#
            %th{ width: '0' } ID#
            %th{ width: '25%' } Legal Name
            %th{ width: '25%' } Display Name
            %th{ width: '0' } Roles
            %th{ width: '0' } E-Mail
            %th{ width: '0' }
              %abbr{ title: 'Code of Conduct' } CoC
            %th{ width: '0' } Speaker?
            %th{ width: '0' } Actions
        %tbody

:javascript
  $(function () {
    var codeOfConductPresent = #{@code_of_conduct ? 'true' : 'false'};
    var registrationsDataTable = $('#registrations.datatable').DataTable({
      "processing": true,
      "serverSide": true,
      "ajax": $('#registrations.datatable').data('source'),
      "drawCallback": function(settings) {
        checkboxSwitch("[class='switch-checkbox']");
        if (codeOfConductPresent) {
          iconize("td.code-of-conduct", "true", "check", "accepted");
          iconize("td.code-of-conduct", "false", "exclamation-circle", "Has not accepted Code of Conduct");
        };
        iconize("td.speaker", "true", "bullhorn", "speaker");
        iconize("td.speaker", "false", "", "");
        // truncatify("td.truncate");
      },
      "columns": [
        {
          "data": "user_id"
        },
        {
          "data": "id"
        },
        {
          "data": "legal_name"
        },
        {
          "data": "display_name",
          "className": "truncate",
          "render": function(data, type, row) {
            var content = '<span data-toggle="tooltip" title="' + data + '">' + data + '</span><br/>';
            $.each(row.roles, function(index, role){
              content += ' <span class="label label-info">' + role + '</span>'
            });
            return content;
          }
        },
        {
          "name": "roles",
          "data": "roles",
          "className": "truncate",
          "render": function(data, type, row) {
            return data.join(', ');
          }
        },
        {
          "data": "email"
        },
        {
          "data": "accepted_code_of_conduct",
          "className": "code-of-conduct text-center",
          "searchable": false,
          "sortable": false,
        },
        {
          "data": "speaker",
          "className": "speaker text-center",
          "searchable": false,
          "sortable": false,
        },
        {
          "data": null,
          "className": "actions",
          "searchable": false,
          "sortable": false,
          "render":    function (data, type, row, meta) {
            return '<div class="btn-group">'+
                   '<a class="btn btn-primary" href="'+data.edit_url+'">Edit</a>'+
                   '</div>';
          }
        }
      ]
    });

    registrationsDataTable.columns(6).visible(codeOfConductPresent);
    registrationsDataTable.columns(4).visible(false);
  });
