.row
  .col-md-12
    .page-header
      %h1
        Registration for #{@user.username} (#{@user.email})

        = link_to 'Edit User', edit_admin_user_path(@user), class: 'btn btn-primary pull-right' if can? :edit, @user
.row
  .col-md-6
    = semantic_form_for(@registration, url: admin_conference_registrations_path(@conference, user_id: @user.id)) do |f|
      = f.inputs 'Personal Information' do
        = semantic_fields_for  :user do |u|
          = u.input :legal_name, as: :string
          = u.input :display_name, as: :string
          = u.input :affiliation, placeholder: 'Company/User Group/nothing', as: :string
      = f.inputs 'Registration Information' do
        = render partial: 'conference_registrations/registration_info', locals: { f: f }
      = f.input :user_id, as: :hidden
      = f.action :submit, button_html: { class: 'btn btn-primary' }
