/* Apply CSS to views of a specific conference by encapsulating the style in
 * a body tag classed for the conference's short title.
 * See the example here for 'osemdemo'.
 * NOTE: when overriding existing CSS, it may be necessary to use !important to
 * bypass CSS specificity rules.
*/

body {
  // Everywhere
  #messages {
    margin-top: -10px;
    background-color: inherit;

    .alert {
      margin: 10px 0;
    }
  }
}

body.conference-osemdemo {
  // style here only applies when working with the 'osemdemo' conference.
  #header {
    background-color: #b58e73 !important;
  }
}

body.conference-2019, body.conference-2020, body.conference-2021, body.conference-2022 {
  @import "breakpoints.scss";

  /*
   * Color variables - http://chir.ag/projects/name-that-color
   */

  $pickled-bluewood: #304858;
  $steel-blue: #3e7f9e;
  $tulip-tree: #e9b547;
  $asparagus: #77954a;

  /*
   * Font set variables
   */

  $header-fonts: "Ubuntu","Open Sans","Tahoma",sans;
  $text-fonts: "Open Sans","Tahoma",sans;

  // Conference style

  background-color: white;
  font-size: 16px;
  font-family: $text-fonts;

  h1, h2, h3, h4, h5, h6 {
    font-family: $header-fonts;
    font-weight: bold;
  }

  .pagination > .active > a {
    color: white !important;
  }

  a:not(.btn) {
    color: $steel-blue;
    &:hover {
      color: $asparagus;
    }
  }

  .nav-stacked {
    li.active, .nav-item.active {
      a {
        color: $tulip-tree;
      }
    }
  }

  .navbar .btn.btn-success, #splash .btn.btn-success {
    color: black;
    border-color: $tulip-tree;
    background-color: $tulip-tree;
  }

  .thumbnail {
    border-radius: 8px;
    border: none;

    &:hover {
      text-decoration: none !important;
    }

    a {
      text-decoration: none !important;
    }
  }

  /*** custom checkboxes ***/
  .fa-input-checkbox {
    input[type=checkbox] { display:none; } /* to hide the checkbox itself */

    input[type=checkbox] + label:before {
      font-family: FontAwesome;
      display: inline-block;
      width: 1em;
    }

    input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
    input[type=checkbox]:checked + label:before { content: "\f14a"; } /* checked icon */
  }

  #messages {
    background-color: $pickled-bluewood;
  }

  #content {
    padding-bottom: 40px !important;
  }

  .navbar.navbar-default.navbar-fixed-top.nav-osem {
    background-color: $pickled-bluewood !important;

    @include breakpoint(sm) {
      .navbar-header {
        float: none;
      }
      .navbar-left,.navbar-right {
        float: none !important;
      }
      .navbar-toggle {
        display: block;
      }
      .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
      }
      .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
      }
      .navbar-collapse.collapse {
        display: none!important;
      }
      .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
      }
      .navbar-nav>li {
        float: none;
      }
      .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .collapse.in{
        display:block !important;
      }
    }
    @include breakpoint(md) {
      .navbar-header {
        float: none;
      }
      .navbar-left,.navbar-right {
        float: none !important;
      }
      .navbar-toggle {
        display: block;
      }
      .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
      }
      .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
      }
      .navbar-collapse.collapse {
        display: none!important;
      }
      .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
      }
      .navbar-nav>li {
        float: none;
      }
      .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .collapse.in{
        display:block !important;
      }
    }

    a.navbar-brand {
      color: white;
      padding: 0.5em;
      font-size: 20px;
      &:hover {
        color: $tulip-tree !important;
      }
      &:before {
        content: image-url("favicon-32x32.png") ' ';
        vertical-align: -50%;
      }
    }
    .nav-item {
      font-size: 16px;
      a {
        color: $steel-blue;
        padding-left: 0.5em;
        padding-right: 0.5em;
        &:hover {
          color: $tulip-tree !important;
        }
      }
    }
    li.active, .nav-item.active {
      a {
        color: white;
      }
    }
  }

  /*
   * Splash Page
   */

  #splash {

    #banner {
      background-color: $steel-blue;
      background-image: linear-gradient(0deg, $steel-blue 95%, $pickled-bluewood 100%);

      margin-top: 0;
      padding: 20px 10px 10px;

      h1, h2, h3, h4, h5, h6 {
        color: $tulip-tree !important;
        * {
          color: inherit;
        }
        font-weight: bold;
      }

      #header {
        background: none !important;
        h1 {
          margin-top: 0;

          img {
            // max-height: 100px;
          }
        }

        h2 {
          font-family: $header-fonts;
          font-weight: bold;
          margin-top: 0 !important;
          @include breakpoint(xs) {
            font-size: 1.4em;
          }
          @include breakpoint(sm) {
            font-size: 1.55em;
          }
          @include breakpoint(md) {
            font-size: 1.7em;
            white-space: nowrap;
          }
          @include breakpoint(lg) {
            font-size: 2.1em;
            white-space: nowrap;
          }

          a {
            text-decoration: none;
            color: inherit !important;
          }

          span + span {
            &::before {
              content: '\2022'
            }
          }
        }
      }
    }

    #about {
      background-color: $steel-blue;
      background-image: image-url("trees-white.png");
      background-image: image-url("trees-white.png"), linear-gradient(0deg, $tulip-tree 0, $steel-blue 50px);
      background-position: bottom center;
      background-repeat: repeat-x;

      color: white;
      padding-top: 0;
      padding-bottom: 75px;
      font-size: 120%;

      a {
        color: $tulip-tree;
      }

      h1,h2,h3,h4,h5,h6 {
        text-align: center;
      }
    }

    #about + section:not(#venue) {
      // #call, #registration, or program
      background-color: white;
      color: black;
    }

    #call {
      .container .row {
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
      }

      div[class^="col-"] {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }

      p:not([class]) {
        flex-grow: 2;
      }
    }

    #call + #registration {
    }

    #about + section:not(#venue) + section:not(#venue) {
      // #registration or program
      background-color: $pickled-bluewood;
      background-image: image-url("trees_outline-white.png");
      background-position: top center;
      background-repeat: repeat-x;

      color: white;
    }

    #registration {
    }

    #program {
      padding-top: 0;

      h2 {
        margin-bottom: 2em;
      }
      .highlights {
        a {
          background: none;
        }
      }
    }

    #lodging {
      background-color: $pickled-bluewood;
      background-image: image-url("trees-white.png"), linear-gradient(0deg, $steel-blue 0, $pickled-bluewood 100%);
      background-position: bottom center;
      background-repeat: repeat-x;

      h1,h2,h3,h4,h5,h6,.lead {
        color: white;
      }

      .thumbnail {
        h1,h2,h3,h4,h5,h6 {
          color: $steel-blue;
        }

        background-color: white !important;
      }
    }

    #sponsors {
      background-color: white !important;
      .row-centered {
        padding-bottom: 0.5em;
        border-bottom: 1px solid $steel-blue;
      }

      .img-sponsor {
        margin: 10px auto 40px !important;
      }

    }

    #social-media {
      background-color: $asparagus;
      background-image: image-url("trees_outline-white.png");
      background-image: image-url("trees_outline-white.png"), linear-gradient(0deg, $steel-blue 30%, $asparagus 80%);
      background-position: top center;
      background-repeat: repeat-x;

      padding: 105px 10px 35px;

      a {
        text-decoration: none;
        color: white;

        &:hover {
          color: $tulip-tree;
        }

        i {
          color: inherit;
        }

        font-size: 50% !important;
        @include breakpoint(sm) {
          font-size: 75% !important;
        }
        @include breakpoint(lg) {
          font-size: 100% !important;
        }
      }
    }

    .scroll-top-wrapper {
      background-color: $tulip-tree;
      color: black;
    }
  }

  #schedule {
    td.event {
      background: $steel-blue;

      .event-title {
        color: white !important;
      }

    }
  }

  #footer {
    background: $steel-blue;
    color: $pickled-bluewood;
    * {
      font-weight: bold !important;
    }

    p {
      margin-bottom: 0;
    }

    span {
      // white-space: nowrap;
    }

    a {
      color: white;
      &:hover {
        color: $tulip-tree;
        text-decoration: none;
      }
    }
  }
}

body.conference-lfnw18 {
  @import "breakpoints.scss";

  /*
   * Color variables - http://chir.ag/projects/name-that-color
   */

  $web-orange: #fca300;
  $half-dutch-white: #fef7de;
  $hippie-blue: #6a9cb3;
  $elephant: #153a57;
  $tall-poppy: #be2626;
  $golden-sand: #f3d483;

  /*
   * Font set variables
   */

  $header-fonts: "Arvo","Cambria","American Typewriter","Courier","Courier New",serif;
  $text-fonts: "Open Sans","Tahoma",sans;

  // Conference style

  background-color: $half-dutch-white;

  .navbar.navbar-default.navbar-fixed-top.nav-osem {
    background-color: $web-orange !important;
  }

  /*** custom checkboxes ***/
  .fa-input-checkbox {
    input[type=checkbox] { display:none; } /* to hide the checkbox itself */

    input[type=checkbox] + label:before {
      font-family: FontAwesome;
      display: inline-block;
      width: 1em;
    }

    input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
    input[type=checkbox]:checked + label:before { content: "\f14a"; } /* checked icon */
  }

  #content {
    padding-bottom: 40px !important;
  }

  /*
   * Splash Page
   */

  #splash {

    :not(.fa) {
      font-family: $text-fonts;
    }

    .btn.btn-success {
      border-color: $web-orange;
      background-color: $web-orange;
    }

    .thumbnail {
      border-radius: 8px;
      border: none;

      &:hover {
        text-decoration: none;
      }
    }

    #banner {
      background-image: image-url("mountains.png");
      background-position: bottom left;
      background-repeat: repeat-x;
      background-size: 100%;
      background-color: $half-dutch-white;
      padding-bottom: 40px !important;
      @include breakpoint(xs) {
        padding-top: 0px !important;
      }
      @include breakpoint(sm) {
        padding-top: 0px !important;
      }

      h2, h3, h4, h5, h6 {
        color: $elephant !important;
        font-weight: bold;
      }

      #header {
        background: none !important;

        h1 {
          font-family: $header-fonts;
          font-weight: bold;
          color: $web-orange;
          text-shadow: 0 1px 1px #e04c10;
          margin-top: 0 !important;
          @include breakpoint(xs) {
            font-size: 2.6em;
          }
          @include breakpoint(sm) {
            font-size: 3em;
          }
          @include breakpoint(md) {
            font-size: 3.3em;
            white-space: nowrap;
          }
          @include breakpoint(lg) {
            font-size: 4em;
            white-space: nowrap;
          }
        }

        h2 {
          font-family: $text-fonts;
          font-weight: bold;
          margin-top: 0 !important;
          @include breakpoint(xs) {
            font-size: 1.4em;
          }
          @include breakpoint(sm) {
            font-size: 1.55em;
          }
          @include breakpoint(md) {
            font-size: 1.7em;
            white-space: nowrap;
          }
          @include breakpoint(lg) {
            font-size: 2.1em;
            white-space: nowrap;
          }

          a {
            text-decoration: none;
            color: inherit !important;
          }

          span + span {
            &::before {
              content: '\2022'
            }
          }
        }
      }
    }


    #about {
      color: $half-dutch-white;
      padding-top: 0;
      font-size: 120%;
      background-color: $hippie-blue;

      a {
        color: $web-orange;

        &:hover {
          color: $web-orange;
        }
      }
    }

    #about + section:not(#venue) {
      background-image: image-url("trees_outline-hippie-blue.png");
      background-position: top center;
      background-repeat: repeat-x;
      padding-top: 100px;
    }

    #call {
      background-color: $elephant;
      color: $hippie-blue;

      h2 {
        font-family: $header-fonts;
        color: $half-dutch-white;
      }
    }

    #call + section:not(#venue) {
      background-image: image-url("trees_outline-elephant.png");
      background-position: top center;
      background-repeat: repeat-x;
      padding-top: 100px;
    }

    #program {
      background-color: $half-dutch-white;
      color: $elephant;

      h2 {
        font-family: $header-fonts;
      }

      .highlights .thumbnail {
        background-color: $half-dutch-white;
        color: $elephant;
        padding: 20px;

        .caption {
          color: $elephant;
        }
      }

      .track .thumbnail, .booth .thumbnail {
        background-color: $elephant;
        color: $hippie-blue;
        border: none;

        .caption {
          color: $hippie-blue
        }
      }
    }

    #program + section:not(#venue) {
      background-image: image-url("trees_outline-half-dutch-white.png");
      background-position: top center;
      background-repeat: repeat-x;
      padding-top: 100px;
    }

    #registration {
      background-color: $elephant;
      color: $hippie-blue;

      h2 {
        font-family: $header-fonts;
        color: $half-dutch-white;
      }
    }

    #tickets {
      background-color: $elephant;
      color: $hippie-blue;

      h2 {
        font-family: $header-fonts;
        color: $half-dutch-white;
      }

      .thumbnail {
        background-color: $half-dutch-white;
        border-color: $half-dutch-white;
        color: $elephant;

        &:hover {
          text-decoration: none;
        }
      }
    }

    #venue {

    }

    #lodging {
      background-color: $hippie-blue !important;
      color: $half-dutch-white !important;

      h2 {
        font-family: $header-fonts;
        color: $half-dutch-white;
      }

      .thumbnail {
        background-color: white;
      }
    }

    #lodging + section:not(#venue) {
      background-image: image-url("trees_outline-hippie-blue.png");
      background-position: top center;
      background-repeat: repeat-x;
      padding-top: 100px;
    }

    #sponsors {
      background-color: white;

      h3 {
        padding-bottom: 2px;
        border-bottom: 1px solid #7b7b7b;
      }

      .img-sponsor {
        margin: 10px auto 40px !important;
      }


    }

    #sponsors + #social-media {
      background-image: image-url("trees_outline-white.png");
      background-position: top center;
      background-repeat: repeat-x;

      padding-top: 100px;
    }

    #social-media {
      background-color: $elephant;

      i {
        color: $hippie-blue;

        &:hover {
          color: $web-orange;
        }
      }
    }

    .scroll-top-wrapper {
      &:hover {
        background-color: $web-orange;
      }
    }
  }

  #schedule {
    .event {
      background-image: linear-gradient($hippie-blue, white) !important;

      a.unstyled-link {
        color: black !important;
      }
    }
  }

  #footer {
    background: $tall-poppy;
    color: $half-dutch-white;

    a {
      color: $golden-sand;
    }
  }
}
