/*
 *= require font-awesome
 *= require bootstrap-markdown
*/

@import "bootstrap-sprockets";

//
// Bootstrap components
//
// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/button-groups";
@import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/breadcrumbs";
@import "bootstrap/pagination";
@import "bootstrap/pager";
@import "bootstrap/labels";
@import "bootstrap/badges";
@import "bootstrap/jumbotron";
@import "bootstrap/thumbnails";
@import "bootstrap/alerts";
@import "bootstrap/progress-bars";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/panels";
@import "bootstrap/responsive-embed";
@import "bootstrap/wells";
@import "bootstrap/close";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

/*
 * Kiosk CSS
 */

body {
    padding-bottom: 40px; // Correct for .navbar-fixed-bottom
}

table {
    width: 100%;
}

table.table-condensed td {
    padding: 2px 4px !important;
}

td.speaker, td.time, td.room, td.track, td.difficulty {
    border-top: 0 !important;
}

td.overflow {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

td.time, td.room, td.track, td.difficulty {
    width: 10%;
}
