/*
 *= require font-awesome
*/

@import "bootstrap-sprockets";

//
// Bootstrap components
//
// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";

@media print {
  body {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
  }
}
