#badge-form {
  .panel-body {
    background-color: Gainsboro;

    input {
      border: 0;
      text-align: center;
      height: fit-content;
    }

    input~input {
      margin-top: 1ex;
    }

    input#user_display_name {
      font-weight: bold;
      font-size: 300%;
    }

    input#user_affiliation {
      font-size: 150%;
    }
  }
}

label[for="registration_accepted_code_of_conduct"] {
  font-weight: bold;
}
