= semantic_form_for [:admin, @user] do |f|
  = f.inputs 'Basic Information' do
    - unless @user.new_record?
      .pull-right
        %b
          Confirmed?
        - if can? :toggle_confirmation, @user
          = check_box_tag @user.id, @user.id, @user.confirmed?,
            url: "/admin/users/#{@user.id}/toggle_confirmation?user[to_confirm]=",
            class: 'switch-checkbox',
            readonly: false
        - else
          = check_box_tag @user.id, @user.id, @user.confirmed?,
            url: "/admin/users/#{@user.id}/toggle_confirmation?user[to_confirm]=",
            class: 'switch-checkbox',
            readonly: true
    = f.input :is_admin, hint: 'An admin can create a new conference, manage users and make other users admins.'
    = f.input :legal_name, as: :string
    = f.input :display_name, as: :string
    = f.input :username, :as => :string if @user.new_record?
    = f.input :email
    .row
      - if @user.avatar?
        .col-md-2
          .thumbnail
            = image_tag(@user.avatar.thumb48.url) if @user.avatar?
            .caption
              Avatar ( Remove?
              = f.check_box :remove_avatar
              )
      .col-md-2
        .thumbnail
          = image_tag(@user.gravatar_url(size: '48'))
          .caption Gravatar
      .col-md-8
        = f.input :avatar, as: :file, hint: 'If the user doesn\'t have a Gravatar'
    = f.input :password if @user.new_record?
    = f.input :affiliation, as: :string
    = f.input :biography, input_html: { rows: 10, data: { provide: 'markdown-editable' } },
      hint: markdown_hint
  = f.actions do
    = f.action :submit, button_html: {class: 'btn btn-primary'}
