- if can? :index, Comment
  %li.nav-item.dropdown-header
    %span.fa.fa-comment
    Notifications (#{unread_notifications(current_user).length})
  - if unread_notifications(current_user).length > 0
    %li.dropdown-header Last 5 Comments for:
    - unread_notifications(current_user).limit(5).group_by{ |comment| comment.commentable}.each do |event, comments|
      %li= link_to("#{event.title}(#{comments.count})", admin_conference_program_event_path(event.program.conference.short_title, event.id))
    %li.divider
    %li.nav-item= link_to "See all unread Comments (#{unread_notifications(current_user).length})", admin_comments_path
  %li.nav-item= link_to 'See all Comments', admin_comments_path(anchor: 'all_comments')
  %li.divider
- unless ENV['OSEM_ICHAIN_ENABLED'] == 'true'
  %li.nav-item
    = link_to(edit_user_registration_path) do
      %span.fa.fa-wrench
      Edit Account
%li.nav-item
  = link_to(edit_user_path(current_user.id)) do
    %span.fa.fa-user
    Edit Profile
- if @conference && ((current_user && @conference.user_registered?(current_user)) || @conference.registration_open?)
  %li.nav-item
    = link_to(conference_conference_registration_path(@conference)) do
      %span.fa.fa-id-badge
      = @conference.short_title
      registration
-if @conference && @conference.program
  %li.nav-item
    = link_to(conference_program_proposals_path(@conference.short_title)) do
      %span.fa.fa-comment
      My Submissions
  %li.nav-item
    = link_to(conference_program_tracks_path(@conference.short_title)) do
      %span.fa.fa-road
      My Tracks
-if @conference && (@conference.call_for_booths.try(:open?) || current_user.booths.where(conference_id: @conference.id).count > 0)
  %li.nav-item
    = link_to (conference_booths_path(@conference.short_title)) do
      %span.fa.fa-shopping-bag
      My Booth Requests
%li.nav-item
  - if ENV['OSEM_ICHAIN_ENABLED'] == 'true'
    = link_to(destroy_user_ichain_session_path, method: 'delete') do
      %span.fa.fa-minus
      Sign out
  - else
    = link_to(destroy_user_session_path, method: 'delete') do
      %span.fa.fa-minus
      Sign out
- if can? :access, Admin
  %li.divider
    %li.nav-item
      - if Conference.any?
        = link_to(admin_conferences_path()) do
          %span.fa.fa-home
          Administration
      - if can? :new, Conference.new
        =link_to(new_admin_conference_path) do
          %span.fa.fa-plus
          New Conference
    -if @conference && @conference.id && can?(:show, @conference)
      %li.nav-item
        = link_to(admin_conference_path(@conference.short_title)) do
          %span.fa.fa-cog
          Manage
          %span.notranslate
            = @conference.short_title
- if can? :manage, TicketScanning
  %li.nav-item
    = link_to(admin_ticket_scannings_path) do
      = fa_icon('sign-in', text: 'Check-in')
- if can? :manage, User.new
  %li.nav-item
    = link_to(admin_users_path) do
      %span.fa.fa-user
      Users
- if can? :index, PaperTrail::Version
  %li.nav-item
    = link_to(admin_revision_history_path) do
      %span.fa.fa-history
      Revision History
  - if ENV['ORGANIZATIONS_ENABLED'] == 'true'
    %li.nav-item
      = link_to(admin_organizations_path) do
        %span.fa.fa-group
        Organizations
