%html{xmlns: 'http://www.w3.org/1999/html'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1'}
    %title= content_for?(:title) ? yield(:title) : (ENV['OSEM_NAME'] || 'OSEM')
    %meta{content: '', name: 'description'}
    %meta{content: '', name: 'author'}
    = stylesheet_link_tag "application", media: 'all'
    = javascript_include_tag "application"

    = csrf_meta_tags
    = content_for(:script_head)
    - if ENV['OSEM_TRANSIFEX_APIKEY']
      :javascript
        window.liveSettings = {
          api_key: "#{ENV['OSEM_TRANSIFEX_APIKEY']}",
          picker: "bottom-right",
          detectlang: true,
          autocollect: true
        };
      = javascript_include_tag "//cdn.transifex.com/live.js"

    = yield(:head)
  %body{ class: ("conference-#{@conference.short_title}" if @conference) }
    = render 'layouts/navigation', conference: @conference
    -# Admin area
    - if controller.class.name.split("::").first=="Admin"
      = render 'layouts/admin'
    -else
      #messages
        .container
          = render 'layouts/messages'
      #content
        = yield

    = yield :modals

    #footer
      .container
        %p.muted.text-center
          %small
            %span
              This tool is
              #{link_to "free software", "http://www.gnu.org/philosophy/free-sw.html"},
              released under the
              #{link_to "MIT license", "http://opensource.org/licenses/MIT"}.
            %span
              You can run, copy, distribute, study, change and improve it.
            %span
              The source code and the developers are on
              #{link_to "GitHub", "https://github.com/openSUSE/osem"}.
            - if ENV["SKYLIGHT_PUBLIC_DASHBOARD_URL"].present?
              %span
                Performance data is available on
                #{link_to "Skylight", ENV["SKYLIGHT_PUBLIC_DASHBOARD_URL"]}.
    = yield :script_body
    = yield :charts_js
    = piwik_tracking_tag
