%html{xmlns: 'http://www.w3.org/1999/html'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1'}
    %title= content_for?(:title) ? yield(:title) : (ENV['OSEM_NAME'] || 'OSEM')
    = stylesheet_link_tag 'kiosk', media: 'all'
    = yield(:head)
  %body
    #content
      = yield

    #footer
      %nav.navbar.navbar-default.navbar-fixed-bottom
        .container-fluid
          .navbar-header
            .navbar-brand= @conference.title
          = yield :nav
    = yield :script_body
